<%= render 'layerbegin' %>

<div class="page-content">
  <div class="page-header">
    <h1>
      编辑开户行
    </h1>
  </div><!-- /.page-header -->
<%= render 'form', bankdef: @bankdef %>

</div>

<%= render 'layerend' %>
