<%= render 'layerbegin' %>

<div class="page-content">
  <div class="page-header">
    <h1>
      新增号码
    </h1>
  </div><!-- /.page-header -->
  <%= render 'form', user: @tranapps %>
</div>

<%= render 'layerend' %>